<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<stringAttribute key="attr_working_directory" value="C:\Program Files\nodejs\node_modules\npm\bin"/>
<stringAttribute key="key_file_path" value="/Test/hello-world-server.js"/>
</launchConfiguration>
